@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Space+Grotesk&display=swap');

:root{
    --background-color: #1A1A2E;
    --box-color: #16213E;
    --highlight-box: #0F3460;
}

*{
    margin:0; 
}

/*FONTES*/

.bebasNeue{
    font-family: 'Bebas Neue', sans-serif;
}

.pressStart{
    font-family: 'Press Start 2P', cursive;
}
.spaceGrotesk{
    font-family: 'Space Grotesk', sans-serif;
}

/*CORES
6C496F - roxo
DBC630 - amarelo
5AB72C - verde
70D1DB - azul
BC3D31 - vermelho
DB86B4 - rosa

*/

.roxo{
    color: #6C496F;
}
.amarelo{
    color: #DBC630;
}
.verde{
    color: #5AB72C;
}
.rosa{
    color: #DB86B4;
}
.azul{
    color: #70D1DB;
}
.vermelho{
    color: #BC3D31;
}

.tituloTetris{
    font-size: 80px;
}

/*Gerais*/

.container{
    margin: 10% 5% 0 5%;
    /*cima, direita, baixo, esquerda */
    padding: 16px;
    flex: 1 1 auto;
    text-align: center;
}

body{ 
    margin-bottom: 20%;
    background: linear-gradient(45deg, var(--highlight-box), var(--background-color), var(--background-color), var(--highlight-box));
}

.caixa_start{
    border-style: solid;
    border-color: var(--highlight-box);
    border-width: 14px;

    -moz-box-shadow: 0 0 5px 5px var(--highlight-box);
    -webkit-box-shadow: 0 0 5px 5px var(--highlight-box);
    box-shadow: 0 0 20px 20px var(--highlight-box);
    /*https://www.css3.info/preview/box-shadow/*/

    border-radius: 30px;

    background-color: var(--box-color);
    padding: 2% 2% 3px 2%;
    width: 20%;
    height: 20%;
    /*cima, direita, baixo, esquerda */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    align-items: center;
    
}

.texto{    
    padding-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    font-weight: 300;
    color: white;

}
.input{
    border: 2px var(--background-color);
    background-color: #D9D9D9;
    width: 200px;
    height: 40px;

    box-sizing: border-box;
    border-radius: 15px;
}


.register{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    align-items: center;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 150;
    color: #D9D9D9;
}

.link-registro {
    text-decoration: none;
    color: #D9D9D9;
}

.link-registro:hover{
    color:#BC3D31;
}

.botao_jogar{
    text-decoration: none;
    color: var(--box-color);
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    background-color: #5AB72C;

    padding: 4%;
    margin-top: 10%;
    border-radius: 15px;
}

.botao_jogar:hover{
    color: #D9D9D9;
}

/*JOGO.HTML CSS */
.jogobody{
    width: auto;
}
.icones_header{
    margin: 2%;

    display: flex;
    align-items: center;
    justify-content:left;
}

.icone{
    width: 4%;
    height: 4%;
}

.titulo{
    display: flex;
    align-content: center;
    margin: auto;

    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
}

.tela_jogo{
    font-family: 'Press Start 2P', cursive;
   

    display: flex;
    flex-direction: row;
    margin: 10%;

    gap: 125px;
}

.estat_rank{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.estatistica{
    display: flex;
    justify-content: center;
}

.estat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    padding: 5%;

    background-color: var(--box-color);

}

.tempo{
    display: flex;
    justify-content: center;
    
    font-size: 35px;
}

.est{
    font-size: 25px;
}

.ranking{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ranking_pessoal{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 5%;
    gap: 30px;
    background-color: var(--box-color);

    font-size: 16px;
}

.jogo{
    width: 50%;
    background-color: var(--box-color);
}