*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    color: white;
    background: #272343;
    padding: 16px;  
    text-align: center;    
    border-bottom: #8ef6e4 solid 1px;
}

nav{
    background: #e3f6f5;
    padding: 12px;
    text-align: center;
    font-weight: 300;
}

nav a{
    padding-left: 8px;
    padding-right: 8px;    
    border-right: #82b1ae solid 1px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#container{
    background-color: #ffffff;
    margin: auto 15%;
    padding: 16px;
    flex: 1 1 auto;
    text-align: center;
}
#container img{
    height: 45vh;      
    display: block;
    margin:auto;
    margin-top: 3vh;
}
#container h2{
    text-align: center;
}
#container p{
    margin-right: 5%;
    margin-left: 5%;
    font-weight: 300;
    text-align: center;
}
footer{
    margin-top: auto;
    padding: 1rem;
    background-color: #bae8e8;
    text-align: center;
}
footer p{
    color: #557976;
}
#topicos{
    text-align: left;
}
#topicos h4{
    font-size: 18px;
}