*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background: beige;
    padding: 16px;  
    text-align: center;    
    border-bottom: rgb(199, 199, 106) solid 1px;
}
header h1{
    
}

nav{
    background: cyan;
    padding: 12px;
    text-align: center;
    font-weight: 300;
}

nav a{
    padding-left: 8px;
    padding-right: 8px;    
    border-right: rgb(199, 199, 106) solid 1px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#container{
    background-color: tomato;
    margin: auto 15%;
    padding: 16px;
    flex: 1 1 auto;
}

footer{
    margin-top: auto;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
footer p{
    color: purple;
}